[% set_header() %]
    [%- DEFAULT no_icons = homepage -%]
    [%- INCLUDE 'layout/head.tt' no_icons=no_icons -%]
    <body>
        [%- IF c.debug -%][%- INCLUDE 'debug/stats.tt' -%][%- END ~%]

        <div id="header">
            <div id="header-logo">
                <a href="/" class="logo" title="MusicBrainz"><strong>MusicBrainz</strong></a>
                <div>
                    [% USE sidebar = FormRenderer(sidebar_search, id_prefix => 'header') ~%]
                    <form action="[% c.uri_for('/search') %]" method="get">
                        [% sidebar.text('query', { placeholder => l('search') }) %]
                        [% sidebar.select('type') %]
                        [% sidebar.hidden('method', { value => 'indexed' }) %]
                        [% form_submit(l('Search'), 'inline') %]
                    </form>
                </div>
            </div>
            <div id="header-menu">
                <div>
                    [%- INCLUDE "layout/menu.tt" -%]
                </div>
            </div>
        </div>

        [%- IF c.user.is_editing_disabled -%]
            <div class="banner editing-disabled">
                <p>
                    [% l('You’re currently not allowed to edit or vote because an admin has revoked your privileges.
                          If you haven’t already been contacted about why, please {uri|send us a message}.',
                        { uri => { href => 'https://metabrainz.org/contact', target => '_blank' } }) %]
                </p>
            </div>
        [%- END -%]

        [%- IF !c.req.cookies.server_details_dismissed_mtime.value -%]
            [% IF server_details.staging_server %]
                <div class="banner server-details">
                    <p>
                        [%~ server_details.staging_server_description || l('This is a MusicBrainz development server.') =%]
                        [%= l('{uri|Return to musicbrainz.org}.',
                              { uri => c.req.uri.replace('//.*?/','//musicbrainz.org/') _
                                       (server_details.beta_redirect == 'musicbrainz.org' ? '?unset_beta=1' : '' ) }) ~%]
                    </p>
                    [% dismiss_banner_button('server_details') %]
                </div>
            [% ELSIF server_details.is_slave_db %]
                <div class="banner server-details">
                    <p>
                        [% l('This is a MusicBrainz mirror server. To edit or make changes to the data, please
                              {uri|return to musicbrainz.org}.', { uri => c.req.uri.replace('//.*?/','//musicbrainz.org/') }) %]
                    </p>
                    [% dismiss_banner_button('server_details') %]
                </div>
            [% END %]
        [%- END -%]

        [%- IF server_details.alert && server_details.alert_mtime > (c.req.cookies.alert_dismissed_mtime.value || 0) -%]
            <div class="banner alert">
                <p>[% server_details.alert %]</p>
                [% dismiss_banner_button('alert') %]
            </div>
        [%- END -%]

        [%- IF server_details.read_only -%]
            <div class="server-details">
                <p>
                    [% l('The server is temporarily in read-only mode for database maintenance.') %]
                </p>
            </div>
        [%- END -%]

        [% IF makes_no_changes %]
        <div class="banner warning-header">
            <p>[% l('The data you have submitted does not make any changes to the data already present.') %]</p>
        </div>
        [% END %]

        [% IF c.sessionid.defined AND c.flash.message %]
            <div class="banner flash">
                <p>
                    [% c.flash.message %]
                </p>
            </div>
        [% END %]

        <div id="page"[% IF full_width %] class="fullwidth"[% END %][% IF homepage %] class="homepage"[% END %]>
            [%- content -%]
            <div style="clear: both"></div>
        </div>

        [%- INCLUDE 'layout/merge-helper.tt'
           IF c.try_get_session('merger') AND !hide_merge_helper -%]

        <div id="footer">
            <p class="left">
                <a href="https://metabrainz.org/donate" class="internal">[% l('Donate') %]</a> |
                <a href="//wiki.musicbrainz.org/" class="internal">[% l('Wiki') %]</a> |
                <a href="http://forums.musicbrainz.org/" class="internal">[% l('Forums') %]</a> |
                <a href="http://tickets.musicbrainz.org/" class="internal">[% l('Bug Tracker') %]</a> |
                <a href="https://twitter.com/MusicBrainz" class="internal">[% l('Twitter') %]</a>
                [%- IF server_details.beta_redirect %] |
                <a href="[% c.uri_for('/set-beta-preference') %]" class="internal">[% server_details.is_beta ? l('Stop using beta site') : l('Use beta site') %]</a>
                [%- END -%]
                [% IF server_details.git.branch ~%]
                <br/>
                    [%~ l('Running: <span class="tooltip" title="{msg}">{branch} ({sha})</span>',
                         { branch => server_details.git.branch,
                           msg => html_escape(server_details.git.msg),
                           sha => server_details.git.sha }) ~%]
                [%~ END %]
                [%- IF last_replication_date -%]
                <br />
                [% l('Last replication packet received at {datetime}',
                     { datetime => UserDate.format(last_replication_date) }) %]
                [%- END -%]
            </p>

            <p class="right">
                [% l('Cover Art provided by the {caa|Cover Art Archive}. Hosted by {host|Digital West}. Sponsored by: {url1|Google},
                      {url2|OSUOSL} and {more|others...}. ',
                    { host => 'https://www.digitalwest.com/',
                      url1 => 'https://www.google.com/',
                      url2 => '//osuosl.org/',
                      more => 'https://metabrainz.org/sponsors',
                      caa  => '//coverartarchive.org/' }) %]
            </p>
        </div>
    </body>
</html>
